[package]
name = "goauth"
version = "0.8.0"
authors = ["Drazen Urch <github@drazenur.ch>"]
description = "Crate for authenticating Server to Server Apps for Google Cloud Engine."
repository = "https://github.com/durch/rust-goauth"
readme = "README.md"
keywords = ["Google", "Cloud", "Engine", "Server", "OAuth"]
license = "MIT"
documentation = "https://durch.github.io/rust-goauth"
edition = "2018"

[lib]
name = "goauth"
path = "src/lib.rs"

[dependencies]
arc-swap = "0.4"
serde = "1"
serde_derive = "1"
serde_json = "1"
time = "0.2"
log = "0.4"
smpl_jwt = "0.5"
reqwest = { version = "0.10", features = ["blocking", "json"] }
futures = "0.3"
simpl = "0.1"
tokio = { version = "0.2", features = ["macros"] }

[dev-dependencies]
doc-comment = "0.3"
mockito = "0.27"