[package]
name = "goauth"
version = "0.6.1"
authors = ["Drazen Urch <github@drazenur.ch>"]
description = "Crate for authenticating Server to Server Apps for Google Cloud Engine."
repository = "https://github.com/durch/rust-goauth"
readme = "README.md"
keywords = ["Google", "Cloud", "Engine", "Server", "OAuth"]
license = "MIT"
documentation = "https://durch.github.io/rust-goauth"

[lib]
name = "goauth"
path = "src/lib.rs"

[dependencies]
serde = "^1.0"
serde_derive = "^1.0"
serde_json = "^1.0"
time = "0.1.42"
log = "0.4.8"
smpl_jwt = "^0.4"
reqwest = "^0.9.5"
futures = "^0.1.28"
